* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-section-container {
  width: 50vw;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.Container-Input-Usuario {
  display: grid;
  grid-template-columns: 1.5fr 3fr 0.5fr;
  grid-auto-rows: 5vh;
}

/* .inputs {
  display: grid;
  grid-template-columns: 1.5fr 3fr 0.5fr;
  grid-auto-rows: 7vh;
} */
